*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    text-align: center;
    background: lavender;
}
.main{
    width: 700px;
    height: 700px;
    display: block;
    background: white;
    margin: 20px auto;
    border: 2px outset plum;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.item{
    background:pink;
}
.main2{
    width: 600px;
    height: 600px;
    display: block;
    background: white;
    margin: 20px auto;
    border: 2px outset plum;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}


.item1{
    grid-column: 1/3;
    grid-row: 1;
    background: palevioletred;
}
.item2{
    grid-column: 3;
    grid-row: 1/3;
    background: pink;
}
.item3{
    grid-column: 2;
    grid-row: 2/3;
    background: rgb(207, 56, 195);
}
.item4{
    grid-column: 1;
    grid-row: 2/4;
    background: rgb(122, 40, 116);
}
.item5{
    grid-column: 2/4;
    grid-row: 3;
    background: rgb(194, 144, 190);
}

.main3{
    width: 700px;
    height: 380px;
    font-family: 'Roboto', sans-serif;
    display: block;
    background:skyblue;
    margin: 100px auto;
    border: 20px solid skyblue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: aliceblue;
    grid-gap: 10px;
    grid-auto-rows: 45px 15px 200px 50px;
}
.tem1{
    grid-column: 1/4;
    grid-row: 1;
    background: rgb(42, 27, 129);
}
.tem2{
    grid-column: 1/4;
    grid-row: 2;
    background: rgb(22, 78, 29);
}
.tem3{
    grid-column: 1/2;
    grid-row: 3;
    background: rgb(167, 22, 22);
}
.tem4{
    grid-column: 2/4;
    grid-row: 3;
    background: rgb(46, 35, 148);
}
.tem5{
    grid-column: 1/4;
    grid-row: 4;
    background: rgb(32, 83, 35);
}