* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
    color: white;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 33%);

}
.ejemplo1{
    width: 500px;
    height: 500px;
    background:white;
    margin:50px auto ;
    border: 2px dashed yellow;
}
.caja{
    width: 100px;
    height: 100px;
    background:rgb(187, 90, 90);
    margin:10px;
}