* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
    color: white;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 33%);

}
.ejemplo1{
    width: 500px;
    height: 500px;
    background:white;
    margin:50px auto ;
    border: 2px dashed yellow;
    display: flex;
    flex-direction: row;
}
.ejemplo2{
    width: 500px;
    height: 500px;
    background:white;
    margin:50px auto ;
    border: 2px dashed yellow;
    display: flex;
    flex-direction: row-reverse;
}
.ejemplo3{
    width: 500px;
    height: 500px;
    background:white;
    margin:50px auto ;
    border: 2px dashed yellow;
    display: flex;
    flex-direction: column;
}
.ejemplo4{
    width: 500px;
    height: 500px;
    background:white;
    margin:50px auto ;
    border: 2px dashed yellow;
    display: flex;
    flex-direction: column-reverse;
}
.ejemplo5{
    width: 500px;
    height: 500px;
    background:white;
    margin:50px auto ;
    border: 2px dashed yellow;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
}
.ejemplo6{
    width: 500px;
    height: 500px;
    background:white;
    margin:50px auto ;
    border: 2px dashed yellow;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}
.ejemplo7{
    width: 500px;
    height: 500px;
    background:white;
    margin:50px auto ;
    border: 2px dashed yellow;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
}
.caja{
    width: 100px;
    height: 100px;
    background:rgb(187, 90, 90);
    margin:10px;
}