*{
    margin: 0px;
    padding: 0px;
}
body{
    background: rgb(10, 30,100);
}
h1{
    color:#FFF;
}
a{
    width: 200px;
    height: 50px;
    padding: 20px;
    margin:10px auto;
    font-size: 20px;
    text-decoration: none;
    display: block;
    background:black ;
    color: white;
    border: 2px solid white;
    box-shadow: 0px 0px 10px red;
}